<!DOCTYPE html>
<html>
<head>
    <title>Image Resizer</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h1>Image Resizer</h1>
    <form action="/resize" method="post" enctype="multipart/form-data">
        <label for="scale">Scale:</label>
        <input type="number" id="scale" name="scale" step="0.1" required><br><br>
        <label for="file">Upload Image:</label>
        <input type="file" id="file" name="file" accept="image/png, image/jpeg" required><br><br>
        <div class="g-recaptcha" data-sitekey="6LfS1PIpAAAAALhxE75l96slBVpBRVyyCBpuhMRs"></div>
        <input type="hidden" id="recaptcha_token" name="recaptcha_token">
        <button type="submit" onclick="onSubmit()">Resize</button>
    </form>

    <script>
        function onSubmit() {
            grecaptcha.ready(function() {
                grecaptcha.execute('your_site_key', {action: 'submit'}).then(function(token) {
                    document.getElementById('6LfS1PIpAAAAALhxE75l96slBVpBRVyyCBpuhMRs').value = token;
                });
            });
        }
    </script>
</body>
</html>
